.main{
    width: 900px;
    margin: 0 auto;
}

.main__content{
    margin-top: 70px;
    padding: 20px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 10px;
}

form{
    display: flex;
}

.button-to-compare-castom{
    width: 200px;
    height: 50px;
    background-color: #0E46A3;
    color: aliceblue;
    border-radius: 20px;
    border: none;
    transition-property: all;
    transition-duration: 1s;
}

.button-to-compare-castom:hover{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    background-color: #347928;
}

.dialog-box-conteiner{
    transition-duration: 2s;
    transition-property: all;
    position: absolute;
    top: -100%;
}

.dialog-box-content{
    background-color: #00712D;
    width: 860px;
    height: 30px;
    border-radius: 20px;
}

.active{
    transition-duration: 0.5s;
    transition-property: all;
    top: 20px;
}

.active-error{
    transition-duration: 0.5s;
    transition-property: all;
    top: 20px;
}

